Node-red/flows.json
[{"id":"2429be65163edb77","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"1aae591023126ad8","type":"tab","label":"Grafico posicion","disabled":false,"info":""},{"id":"3180049bfe14cc43","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#379ad7","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#379ad7","edited":true},"page-titlebar-backgroundColor":{"value":"#379ad7","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#77bae4","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#379ad7","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Ball and Table Balancing System Project ","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"29648a88a95cdcca","type":"ui_tab","name":"Ball and Table Balancing System Project","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"479d74bf16408b1c","type":"ui_group","name":"Group 2","tab":"29648a88a95cdcca","order":2,"disp":false,"width":15,"collapse":false,"className":""},{"id":"03ea320f9f0f02b5","type":"serial-port","name":"","serialport":"COM9","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"100"},{"id":"d641c3520cdc2cab","type":"ui_group","name":"Group 3","tab":"29648a88a95cdcca","order":3,"disp":false,"width":"10","collapse":false,"className":""},{"id":"e534b0db21b63e95","type":"ui_group","name":"Group 4","tab":"29648a88a95cdcca","order":4,"disp":false,"width":5,"collapse":false,"className":""},{"id":"44d157652ab6a30f","type":"ui_group","name":"Group 1","tab":"29648a88a95cdcca","order":1,"disp":false,"width":"9","collapse":false,"className":""},{"id":"661b3e2068faeab7","type":"ui_tab","name":"Graficos temporales","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"759794f8888b819c","type":"ui_group","name":"Group 1","tab":"661b3e2068faeab7","order":2,"disp":false,"width":10,"collapse":false,"className":""},{"id":"de34d11ae7402b66","type":"ui_group","name":"Group 2","tab":"661b3e2068faeab7","order":3,"disp":false,"width":10,"collapse":false,"className":""},{"id":"f0b3ce277ba1c459","type":"ui_spacer","z":"2429be65163edb77","name":"spacer","group":"479d74bf16408b1c","order":2,"width":1,"height":1},{"id":"8e05d3308ff1ad87","type":"ui_spacer","z":"2429be65163edb77","name":"spacer","group":"479d74bf16408b1c","order":5,"width":1,"height":1},{"id":"d8b8469d5839a51c","type":"ui_spacer","z":"2429be65163edb77","name":"spacer","group":"479d74bf16408b1c","order":6,"width":1,"height":1},{"id":"ddd63c48a71bc95b","type":"ui_spacer","z":"2429be65163edb77","name":"spacer","group":"479d74bf16408b1c","order":7,"width":1,"height":1},{"id":"3c07999b06adeb89","type":"ui_spacer","z":"2429be65163edb77","name":"spacer","group":"479d74bf16408b1c","order":8,"width":1,"height":1},{"id":"f60e0ab799a3d320","type":"ui_spacer","z":"2429be65163edb77","name":"spacer","group":"479d74bf16408b1c","order":9,"width":1,"height":1},{"id":"045edeadb45817e9","type":"ui_spacer","z":"2429be65163edb77","name":"spacer","group":"479d74bf16408b1c","order":10,"width":1,"height":1},{"id":"834224978e2164ec","type":"ui_spacer","z":"2429be65163edb77","name":"spacer","group":"d641c3520cdc2cab","order":10,"width":4,"height":1},{"id":"c244156df8e42182","type":"ui_spacer","z":"1aae591023126ad8","name":"spacer","group":"e534b0db21b63e95","order":4,"width":1,"height":1},{"id":"1091f9b5c3b6bb9d","type":"ui_group","name":"Group 0","tab":"661b3e2068faeab7","order":1,"disp":false,"width":3,"collapse":false,"className":""},{"id":"bc1f6661542670f4","type":"ui_gauge","z":"2429be65163edb77","name":"","group":"479d74bf16408b1c","order":3,"width":7,"height":6,"gtype":"gage","title":"eje x","label":"grados","format":"{{value}}","min":"-90","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":970,"y":200,"wires":[]},{"id":"a894ddf027981433","type":"serial in","z":"2429be65163edb77","name":"Puerto Serie ","serial":"03ea320f9f0f02b5","x":70,"y":220,"wires":[["7b992c2a1e792445","f5ad2921d14cfdee"]]},{"id":"e8659d4fc6087829","type":"debug","z":"2429be65163edb77","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":140,"wires":[]},{"id":"968e4a92ffc343b1","type":"debug","z":"2429be65163edb77","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":300,"wires":[]},{"id":"08a4f9a94f732c6e","type":"function","z":"2429be65163edb77","name":"function 1","func":"var newMsg = {payload:msg.payload.toString()};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":220,"wires":[["4c664a17332f8f8a"]]},{"id":"4c664a17332f8f8a","type":"function","z":"2429be65163edb77","name":"function 2","func":"var newMsg = {};\nvar dataString = msg.payload.trim();\n\n// Expresión regular para extraer ejex y ejey en el formato \"ejex=ejey\"\nvar dataMatch = dataString.match(/(\\d+)\\s*=\\s*(\\d+)/);\n\n// Inicializa el contexto \ncontext.data = context.data || {};\n\n// Almacena los valores extraídos en el contexto\nif (dataMatch) {\n    context.data.ejex = parseInt(dataMatch[1]) - 90 ;\n    context.data.ejey = parseInt(dataMatch[2]) - 90 ;\n}\n\n// Verifica si ambos datos están presentes\nif (context.data.ejex !== undefined && context.data.ejey !== undefined) {\n    newMsg = {\n        payload: {\n            ejex: context.data.ejex,\n            ejey: context.data.ejey\n        },\n        topic: 'frame ejex ejey'\n    };\n    // Reinicia el contexto\n    context.data = null;\n    return newMsg;\n} else {\n    return null;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":220,"wires":[["8505ada43f6af318","750e5a372f49902a"]]},{"id":"b64fcb8a1f66cf5d","type":"ui_gauge","z":"2429be65163edb77","name":"","group":"479d74bf16408b1c","order":4,"width":7,"height":6,"gtype":"gage","title":"eje y","label":"grados","format":"{{value}}","min":"-90","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":970,"y":240,"wires":[]},{"id":"8505ada43f6af318","type":"change","z":"2429be65163edb77","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ejex","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":200,"wires":[["e8659d4fc6087829","bc1f6661542670f4","ab2f0e67f68fcad5"]]},{"id":"750e5a372f49902a","type":"change","z":"2429be65163edb77","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ejey","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":240,"wires":[["968e4a92ffc343b1","b64fcb8a1f66cf5d","fe81ff76d613da16"]]},{"id":"99f66801eb379f41","type":"serial out","z":"2429be65163edb77","name":"Puerto Serie enviar","serial":"03ea320f9f0f02b5","x":550,"y":380,"wires":[]},{"id":"f05a7d2ab1d68cef","type":"ui_button","z":"2429be65163edb77","name":"","group":"e534b0db21b63e95","order":1,"width":0,"height":0,"passthru":false,"label":"Automatico","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":380,"wires":[["cdefca705c576b54"]]},{"id":"f741ca960c7e798d","type":"ui_button","z":"2429be65163edb77","name":"","group":"e534b0db21b63e95","order":2,"width":0,"height":0,"passthru":false,"label":"Manual","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":440,"wires":[["d4fd53c4229795e4"]]},{"id":"2b87da35f2e17097","type":"debug","z":"2429be65163edb77","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":500,"wires":[]},{"id":"b3878be7ecf806fa","type":"serial out","z":"2429be65163edb77","name":"Puerto Serie enviar","serial":"03ea320f9f0f02b5","x":550,"y":440,"wires":[]},{"id":"58dc1747f0805c48","type":"debug","z":"2429be65163edb77","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":120,"wires":[]},{"id":"6a93902068a3da4d","type":"ui_text","z":"2429be65163edb77","group":"479d74bf16408b1c","order":1,"width":14,"height":1,"name":"","label":"Posicion de servos ","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Times New Roman,Times,serif","fontSize":"19","color":"#000000","x":110,"y":60,"wires":[]},{"id":"7b992c2a1e792445","type":"function","z":"2429be65163edb77","name":"function 4","func":"// Inicializar variables\nvar msg_data = \"\";\nvar msg_posicion = \"\";\n\n// Obtener el mensaje recibido por puerto serie\nvar msg_received = msg.payload;\n\n// Buscar la posición del primer '[' y '{'\nvar data_start = msg_received.indexOf('[');\nvar posicion_start = msg_received.indexOf('{');\n\n// Verificar si se encontraron '[' y '{'\nif (data_start != -1 && posicion_start != -1) {\n    // Extraer los datos\n    msg_data = msg_received.substring(data_start, posicion_start).trim();\n\n    // Extraer la posición\n    msg_posicion = msg_received.substring(posicion_start).trim();\n\n    // Verificar y corregir el formato JSON\n    try {\n        // Intentar analizar msg_posicion como JSON\n        var parsed_posicion = JSON.parse(msg_posicion);\n        \n        // Crear dos nuevos mensajes para las partes separadas\n        var msg_data_out = { payload: msg_data };\n        var msg_posicion_out = { payload: parsed_posicion };\n\n        // Enviar los mensajes separados a las salidas correspondientes\n        return [msg_data_out, msg_posicion_out];\n    } catch (error) {\n        // En caso de error de sintaxis en JSON, emitir un mensaje de error\n        node.error(\"Error de sintaxis en JSON: \" + error.message);\n        return null;\n    }\n} else {\n    // En caso de no encontrar los caracteres esperados, emitir un mensaje de error\n    node.error(\"Error: No se encontraron '[' o '{' en el mensaje recibido.\");\n    return null;\n}","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":220,"wires":[["08a4f9a94f732c6e"],["39391dd440826fed","58dc1747f0805c48"]]},{"id":"39391dd440826fed","type":"link out","z":"2429be65163edb77","name":"link out 1","mode":"link","links":["efd4b6866f98ca08","0b35f24379e83e65","41535c6ea46c3258","8a498e310448359e","17de09bfa30f9f2b","6d9a8cb8c908abd1","6dcf57013c6ffe1c","b60131aff86107c8"],"x":365,"y":180,"wires":[]},{"id":"9e94dc268bcc3cd4","type":"serial out","z":"2429be65163edb77","d":true,"name":"kp","serial":"03ea320f9f0f02b5","x":450,"y":640,"wires":[]},{"id":"45545f44120dc48b","type":"serial out","z":"2429be65163edb77","d":true,"name":"ki","serial":"03ea320f9f0f02b5","x":450,"y":700,"wires":[]},{"id":"89d3b3744c7995d2","type":"serial out","z":"2429be65163edb77","d":true,"name":"kd","serial":"03ea320f9f0f02b5","x":450,"y":760,"wires":[]},{"id":"f171aca291951155","type":"ui_text_input","z":"2429be65163edb77","d":true,"name":"","label":"Kp","tooltip":"","group":"d641c3520cdc2cab","order":1,"width":2,"height":1,"passthru":true,"mode":"number","delay":"","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":130,"y":640,"wires":[["e2e2b70b225d87b5"]]},{"id":"5d114c744699f19b","type":"ui_text_input","z":"2429be65163edb77","d":true,"name":"","label":"Ki","tooltip":"","group":"d641c3520cdc2cab","order":2,"width":2,"height":1,"passthru":true,"mode":"number","delay":"500","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":130,"y":700,"wires":[["0a9dd24b556f9598"]]},{"id":"3f4733b4b19de847","type":"ui_text_input","z":"2429be65163edb77","d":true,"name":"","label":"Kd","tooltip":"","group":"d641c3520cdc2cab","order":3,"width":2,"height":1,"passthru":true,"mode":"number","delay":"500","topic":"topic","sendOnBlur":true,"className":"","topicType":"flow","x":130,"y":760,"wires":[["e7df9177def03801"]]},{"id":"b7ea127d6b04403e","type":"ui_text","z":"2429be65163edb77","group":"d641c3520cdc2cab","order":7,"width":2,"height":1,"name":"","label":"Kp = 0.7","format":"{{msg.payload}}","layout":"row-spread","className":"","style":true,"font":"","fontSize":"12","color":"#918d8d","x":720,"y":760,"wires":[]},{"id":"678d4d8a8892f67d","type":"ui_text","z":"2429be65163edb77","group":"d641c3520cdc2cab","order":6,"width":10,"height":1,"name":"","label":"Valores ejemplo","format":"{{msg.payload}}","layout":"row-spread","className":"","style":true,"font":"","fontSize":"12","color":"#918d8d","x":740,"y":720,"wires":[]},{"id":"8a22b100791ac27c","type":"ui_text","z":"2429be65163edb77","group":"d641c3520cdc2cab","order":8,"width":2,"height":1,"name":"","label":"Ki = 0.0065","format":"{{msg.payload}}","layout":"row-spread","className":"","style":true,"font":"","fontSize":"12","color":"#918d8d","x":730,"y":800,"wires":[]},{"id":"75df9738a1f44ee2","type":"ui_text","z":"2429be65163edb77","group":"d641c3520cdc2cab","order":9,"width":2,"height":1,"name":"","label":"Kd = 12","format":"{{msg.payload}}","layout":"row-spread","className":"","style":true,"font":"","fontSize":"12","color":"#918d8d","x":720,"y":840,"wires":[]},{"id":"6990dccbaa174d8e","type":"ui_text_input","z":"2429be65163edb77","name":"","label":"Ref x","tooltip":"","group":"d641c3520cdc2cab","order":4,"width":2,"height":1,"passthru":true,"mode":"text","delay":"500","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":130,"y":820,"wires":[["a6d35fda50367bc2"]]},{"id":"374f6d8da38b1a50","type":"ui_text_input","z":"2429be65163edb77","name":"","label":"Ref y","tooltip":"","group":"d641c3520cdc2cab","order":5,"width":2,"height":1,"passthru":true,"mode":"text","delay":"500","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":130,"y":880,"wires":[["677a1eb7d2da9883"]]},{"id":"fb3a6586400c84ed","type":"serial out","z":"2429be65163edb77","name":"refx","serial":"03ea320f9f0f02b5","x":450,"y":820,"wires":[]},{"id":"90289ee1aa756c41","type":"serial out","z":"2429be65163edb77","name":"refy","serial":"03ea320f9f0f02b5","x":450,"y":880,"wires":[]},{"id":"e2e2b70b225d87b5","type":"function","z":"2429be65163edb77","d":true,"name":"function 5","func":"let header = \"PKp:\";\nlet fin = \"\\n\";\n\n// Añadir la cabecera al payload del mensaje\nmsg.payload = header + 100*msg.payload + fin;\n\n// Retornar el mensaje modificado\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":640,"wires":[["9e94dc268bcc3cd4"]]},{"id":"0a9dd24b556f9598","type":"function","z":"2429be65163edb77","d":true,"name":"function 6","func":"let header = \"PKi:\";\nlet fin = \"\\n\";\n\n// Añadir la cabecera al payload del mensaje\nmsg.payload = header + 10000*msg.payload + fin;\n\n// Retornar el mensaje modificado\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":700,"wires":[["45545f44120dc48b"]]},{"id":"e7df9177def03801","type":"function","z":"2429be65163edb77","d":true,"name":"function 7","func":"let header = \"PKd:\";\nlet fin = \"\\n\";\n\n// Añadir la cabecera al payload del mensaje\nmsg.payload = header + 100*msg.payload + fin;\n\n// Retornar el mensaje modificado\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":760,"wires":[["89d3b3744c7995d2"]]},{"id":"a6d35fda50367bc2","type":"function","z":"2429be65163edb77","name":"function 8","func":"let header = \"PRefX:\";\nlet fin = \"\\n\";\n\n// Añadir la cabecera al payload del mensaje\nmsg.payload = header + msg.payload + fin;\n\n// Retornar el mensaje modificado\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":820,"wires":[["fb3a6586400c84ed"]]},{"id":"677a1eb7d2da9883","type":"function","z":"2429be65163edb77","name":"function 9","func":"let header = \"PRefY:\";\nlet fin = \"\\n\";\n\n// Añadir la cabecera al payload del mensaje\nmsg.payload = header + msg.payload + fin;\n\n// Retornar el mensaje modificado\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":880,"wires":[["90289ee1aa756c41"]]},{"id":"cdefca705c576b54","type":"function","z":"2429be65163edb77","name":"function 10","func":"let header = \"M\";\nlet fin = \"\\n\";\n\n// Añadir la cabecera al payload del mensaje\nmsg.payload = header + msg.payload;\n\n// Retornar el mensaje modificado\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":380,"wires":[["99f66801eb379f41"]]},{"id":"d4fd53c4229795e4","type":"function","z":"2429be65163edb77","name":"function 11","func":"let header = \"M\";\nlet fin = \"\\n\";\n\n// Añadir la cabecera al payload del mensaje\nmsg.payload = header + msg.payload;\n\n// Retornar el mensaje modificado\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":440,"wires":[["b3878be7ecf806fa","2b87da35f2e17097"]]},{"id":"f9dfbe9817acc733","type":"ui_switch","z":"2429be65163edb77","name":"ON/OFF","label":"ON/OFF Control","tooltip":"","group":"e534b0db21b63e95","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":120,"y":500,"wires":[["80767844d3441c1e","d123c631786bf7dc"]]},{"id":"80767844d3441c1e","type":"serial out","z":"2429be65163edb77","name":"Puerto Serie enviar","serial":"03ea320f9f0f02b5","x":310,"y":500,"wires":[]},{"id":"d123c631786bf7dc","type":"debug","z":"2429be65163edb77","name":"debug 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":560,"wires":[]},{"id":"be7f0f460d7adc54","type":"ui_chart","z":"2429be65163edb77","name":"","group":"759794f8888b819c","order":2,"width":0,"height":0,"label":"Ux","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8c8c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1190,"y":360,"wires":[[]]},{"id":"3fcc5b59a6744377","type":"ui_chart","z":"2429be65163edb77","name":"","group":"de34d11ae7402b66","order":2,"width":0,"height":0,"label":"Uy","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1190,"y":520,"wires":[[]]},{"id":"0a89bf342aba00ce","type":"serial out","z":"2429be65163edb77","name":"kp","serial":"03ea320f9f0f02b5","x":450,"y":980,"wires":[]},{"id":"93be93c2416852d5","type":"serial out","z":"2429be65163edb77","name":"ki","serial":"03ea320f9f0f02b5","x":450,"y":1040,"wires":[]},{"id":"d68fe9a54a4bd634","type":"serial out","z":"2429be65163edb77","name":"kd","serial":"03ea320f9f0f02b5","x":450,"y":1100,"wires":[]},{"id":"3957d240ce5d5adf","type":"ui_text_input","z":"2429be65163edb77","name":"","label":"Polo","tooltip":"","group":"d641c3520cdc2cab","order":1,"width":2,"height":1,"passthru":true,"mode":"number","delay":"","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":130,"y":980,"wires":[["ab7247286a4a24ca"]]},{"id":"a41b1b7f02fe1b77","type":"ui_text_input","z":"2429be65163edb77","name":"","label":"Cero","tooltip":"","group":"d641c3520cdc2cab","order":2,"width":2,"height":1,"passthru":true,"mode":"number","delay":"500","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":130,"y":1040,"wires":[["1be20b8a8856b743"]]},{"id":"f806325cf05ec0a9","type":"ui_text_input","z":"2429be65163edb77","name":"","label":"Ganancia","tooltip":"","group":"d641c3520cdc2cab","order":3,"width":2,"height":1,"passthru":true,"mode":"number","delay":"500","topic":"topic","sendOnBlur":true,"className":"","topicType":"flow","x":140,"y":1100,"wires":[["40207bd07012b777"]]},{"id":"ab7247286a4a24ca","type":"function","z":"2429be65163edb77","name":"function 13","func":"let header = \"Polo:\";\nlet fin = \"\\n\";\n\n// Añadir la cabecera al payload del mensaje\nmsg.payload = header + 100*msg.payload + fin;\n\n// Retornar el mensaje modificado\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":980,"wires":[["0a89bf342aba00ce"]]},{"id":"1be20b8a8856b743","type":"function","z":"2429be65163edb77","name":"function 14","func":"let header = \"Cero:\";\nlet fin = \"\\n\";\n\n// Añadir la cabecera al payload del mensaje\nmsg.payload = header + 10000*msg.payload + fin;\n\n// Retornar el mensaje modificado\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1040,"wires":[["93be93c2416852d5"]]},{"id":"40207bd07012b777","type":"function","z":"2429be65163edb77","name":"function 15","func":"let header = \"Ganancia:\";\nlet fin = \"\\n\";\n\n// Añadir la cabecera al payload del mensaje\nmsg.payload = header + 100*msg.payload + fin;\n\n// Retornar el mensaje modificado\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1100,"wires":[["d68fe9a54a4bd634"]]},{"id":"f5ad2921d14cfdee","type":"debug","z":"2429be65163edb77","name":"debug 19","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":240,"y":160,"wires":[]},{"id":"ab2f0e67f68fcad5","type":"function","z":"2429be65163edb77","name":"function 16","func":"// Verificar si el guardado está activado\nif(flow.get(\"grafico\") == true) \n{\n    return msg;\n} else {\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":400,"wires":[["be7f0f460d7adc54"]]},{"id":"91ad109842689adf","type":"change","z":"2429be65163edb77","name":"","rules":[{"t":"set","p":"grafico","pt":"flow","to":"msg.payload","tot":"msg"}],"action":"","property":"","to":"","x":1000,"y":460,"wires":[["ab2f0e67f68fcad5"]]},{"id":"0ffa11bf2aa56be9","type":"ui_switch","z":"2429be65163edb77","name":"","label":"ON/OFF Grafico ","tooltip":"","group":"1091f9b5c3b6bb9d","order":1,"width":3,"height":2,"passthru":false,"decouple":false,"topic":"grafico","topicType":"flow","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":760,"y":460,"wires":[["91ad109842689adf","5bd5639ea74658f6"]]},{"id":"fe81ff76d613da16","type":"function","z":"2429be65163edb77","name":"function 17","func":"// Verificar si el guardado está activado\nif(flow.get(\"grafico\") == true) \n{\n    return msg;\n} else {\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":520,"wires":[["3fcc5b59a6744377"]]},{"id":"d88967f5b7ccac37","type":"change","z":"2429be65163edb77","name":"","rules":[{"t":"set","p":"grafico","pt":"flow","to":"msg.payload","tot":"msg"}],"action":"","property":"","to":"","x":1000,"y":580,"wires":[["fe81ff76d613da16"]]},{"id":"5bd5639ea74658f6","type":"link out","z":"2429be65163edb77","name":"link out 2","mode":"link","links":["4edc4c2ead362a23","f91e19cfe46652a8","10ea7a5cbd824042"],"x":765,"y":540,"wires":[]},{"id":"4edc4c2ead362a23","type":"link in","z":"2429be65163edb77","name":"link in 3","links":["5bd5639ea74658f6"],"x":815,"y":580,"wires":[["d88967f5b7ccac37"]]},{"id":"dfecf0def4a474c3","type":"function","z":"1aae591023126ad8","name":"Build the datasets to be displayed","func":"// Variables para el título y los datos\nvar title = \"Posición de la bola sobre la plataforma\";\nvar x = (msg.payload.x *30/239) - 15 ;\nvar y = (-msg.payload.y *30/239) + 15;\nvar r = msg.payload.r;\n\n// Crear el punto de datos\nvar data = '{x: ' + x + ', y: ' + y + ', r: ' + r + '}';\n\nvar xValue = { topic: \"Posición X\", payload: x };\nvar yValue = { topic: \"Posición Y\", payload: y };\n\n// Construir msg.payload\nmsg.payload = {\n    \"title\": title,\n    \"data\": data\n};\n\nreturn [msg,xValue,yValue];\n","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":180,"wires":[["192a57b507d0ee05","43db15dc7188fc9f"],["75a29f06d9dd0573"],["e59d6541694c63d5"]]},{"id":"192a57b507d0ee05","type":"debug","z":"1aae591023126ad8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":60,"wires":[]},{"id":"043d166b2253c4a9","type":"ui_template","z":"1aae591023126ad8","group":"44d157652ab6a30f","name":"Bubble (dynamic)","order":1,"width":9,"height":10,"format":"","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":190,"y":340,"wires":[[]]},{"id":"efd4b6866f98ca08","type":"link in","z":"1aae591023126ad8","name":"link in 1","links":["39391dd440826fed"],"x":125,"y":100,"wires":[["dfecf0def4a474c3","9026e13136f7c2ba"]]},{"id":"9026e13136f7c2ba","type":"debug","z":"1aae591023126ad8","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":280,"y":100,"wires":[]},{"id":"8c94f63f3079a161","type":"ui_template","z":"1aae591023126ad8","d":true,"group":"44d157652ab6a30f","name":"trayectoria","order":2,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Ejemplo de setInterval</title>\n    <style>\n        canvas {\n            border: 1px solid black;\n        }\n    </style>\n</head>\n<body>\n    <canvas id=\"trayectoriaCanvas\" width=\"600\" height=\"600\"></canvas>\n    <script>\n        // Datos de la trayectoria en un buffer (array)\n        let buffer = [\n            {x: 0, y: 0},\n            {x: 0, y: 0},\n            // Agrega más puntos según sea necesario\n        ];\n\n        // Obtener el contexto del canvas\n        const canvas = document.getElementById('trayectoriaCanvas');\n        const ctx = canvas.getContext('2d');\n\n        // Función para dibujar la trayectoria\n        function dibujarTrayectoria(buffer) {\n            ctx.clearRect(0, 0, canvas.width, canvas.height); // Limpiar el canvas\n            if (buffer.length > 1) {\n                ctx.beginPath();\n                ctx.moveTo(buffer[0].x, buffer[0].y);\n                \n                for (let i = 1; i < buffer.length; i++) {\n                    ctx.lineTo(buffer[i].x, buffer[i].y);\n                }\n\n                ctx.strokeStyle = 'blue';\n                ctx.lineWidth = 2;\n                ctx.stroke();\n                ctx.closePath();\n            }\n        }\n\n        var t=0;\n        // Función que se ejecutará periódicamente\n        function actualizarTrayectoria() {\n            // Aquí puedes actualizar el buffer o realizar otras acciones periódicas\n            t+=0.01;\n            buffer.push({x: (1+Math.sin(2*3.14*t)) * canvas.width/2, y: (1+Math.cos(2*3.14*t)) * canvas.height/2});\n            if (buffer.length > 10) {\n                buffer.shift(); // Elimina el primer punto si hay más de 10\n            }\n            dibujarTrayectoria(buffer);\n        }\n\n        // Ejecutar la función cada segundo (1000 milisegundos)\n        setInterval(actualizarTrayectoria, 100);\n    </script>\n</body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","className":"","x":170,"y":380,"wires":[[]]},{"id":"43db15dc7188fc9f","type":"template","z":"1aae591023126ad8","name":"Create the msg.template to use 2.0","field":"template","fieldType":"msg","format":"html","syntax":"mustache","template":"<canvas id=\"bubble-chart\" width=\"400\" height=\"400\" style=\"border:1px solid #000000;\"></canvas>\n\n<script>\n    new Chart(document.getElementById(\"bubble-chart\"), {\n        type: 'bubble',\n        data: {\n            labels: \"label\",\n            datasets: [\n                {\n                    backgroundColor: \"rgba(65, 72, 255, 1.0000)\",\n                    borderColor: \"#000\",\n                    data: [\n                        {{{payload.data}}}\n                    ]\n                }\n            ]\n        },\n        options: {\n            animation: {\n                duration: 0 // Desactiva las animaciones\n            },\n            legend: {\n                display: false\n            },\n            title: {\n                display: true,\n                text: '{{{payload.title}}}'\n            },\n            scales: {\n                yAxes: [{\n                    scaleLabel: {\n                        display: true,\n                        labelString: \"Eje Y\"\n                    },\n                    ticks: {\n                        min: -15,\n                        max: 15,\n                        stepSize: 3 // Marca los valores de a 1\n                    },\n                    gridLines: {\n                        display: true,\n                        color: \"#ccc\", // Color de las líneas de la grilla\n                        lineWidth: 0.5 // Ancho de las líneas de la grilla\n                    }\n                }],\n                xAxes: [{\n                    scaleLabel: {\n                        display: true,\n                        labelString: \"Eje X\"\n                    },\n                    ticks: {\n                        min: -15,\n                        max: 15,\n                        stepSize: 3, // Marca los valores de a 1\n                        callback: function(value) { // Alinea los valores horizontalmente\n                            return value;\n                        }\n                    },\n                    gridLines: {\n                        display: true,\n                        color: \"#ccc\", // Color de las líneas de la grilla\n                        lineWidth: 0.5 // Ancho de las líneas de la grilla\n                    }\n                }]\n            }\n        }\n    });\n</script>\n","output":"str","x":240,"y":260,"wires":[["043d166b2253c4a9"]]},{"id":"325e0e053f3d659b","type":"debug","z":"1aae591023126ad8","name":"debug 12","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":140,"wires":[]},{"id":"fa33484608c51467","type":"ui_chart","z":"1aae591023126ad8","name":"","group":"759794f8888b819c","order":1,"width":0,"height":0,"label":"Posición X","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":"15","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fe8c8c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#ff9896"],"outputs":1,"useDifferentColor":false,"className":"","x":950,"y":180,"wires":[[]]},{"id":"1be6c6b30bd862aa","type":"ui_chart","z":"1aae591023126ad8","name":"","group":"de34d11ae7402b66","order":1,"width":0,"height":0,"label":"Posición Y","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"-15","ymax":"15","removeOlder":"15","removeOlderPoints":"1000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":950,"y":300,"wires":[[]]},{"id":"2f02cc424ae20928","type":"function","z":"1aae591023126ad8","d":true,"name":"Build the datasets to be displayed","func":"// Variables para el título y los datos\nvar title = \"Posición de la bola sobre la plataforma\";\nvar x = (msg.payload.x *30/239) - 15 ;\nvar y = (-msg.payload.y *30/239) + 15;\nvar r = msg.payload.r;\n\n// Crear el punto de datos\nvar data = '{x: ' + x + ', y: ' + y + ', r: ' + r + '}';\n\n// Construir msg.payload\nmsg.payload = {\n    \"title\": title,\n    \"data\": data\n};\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":440,"wires":[[]]},{"id":"9a685cf374baccbc","type":"debug","z":"1aae591023126ad8","name":"debug 16","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":260,"wires":[]},{"id":"2badb1e6ad87444b","type":"file","z":"1aae591023126ad8","name":"Data.csv","filename":"C:\\Users\\delfi\\OneDrive\\Documentos\\1 Facultad\\2024\\Data.csv","filenameType":"str","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":480,"y":620,"wires":[[]]},{"id":"d8b83110777fdb4d","type":"function","z":"1aae591023126ad8","name":"function 12","func":"// Verificar si el guardado está activado\nif(flow.get(\"guardarDatos\") == true) \n{\n    var x = (msg.payload.x * 30 / 239) - 15;\n    var y = (-msg.payload.y * 30 / 239) + 15;\n    var csvLine = x + \",\" + y + \"\\n\";\n    msg.payload = csvLine;\n    return msg;\n} else {\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":640,"wires":[["2badb1e6ad87444b","61fc2181622c25a2"]]},{"id":"6dcf57013c6ffe1c","type":"link in","z":"1aae591023126ad8","name":"link in 2","links":["39391dd440826fed"],"x":145,"y":640,"wires":[["d8b83110777fdb4d"]]},{"id":"61fc2181622c25a2","type":"debug","z":"1aae591023126ad8","name":"debug 18","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":false,"statusVal":"","statusType":"auto","x":480,"y":660,"wires":[]},{"id":"941541cc3ab93ae9","type":"change","z":"1aae591023126ad8","name":"","rules":[{"t":"set","p":"guardarDatos","pt":"flow","to":"msg.payload","tot":"msg"}],"action":"","property":"","to":"","x":400,"y":740,"wires":[["d8b83110777fdb4d"]]},{"id":"a5d949c6b6e25a43","type":"ui_switch","z":"1aae591023126ad8","name":"","label":"ON/OFF Guardado","tooltip":"","group":"1091f9b5c3b6bb9d","order":2,"width":3,"height":2,"passthru":false,"decouple":false,"topic":"guardarDatos","topicType":"flow","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":190,"y":740,"wires":[["941541cc3ab93ae9"]]},{"id":"75a29f06d9dd0573","type":"function","z":"1aae591023126ad8","name":"function 18","func":"// Verificar si el guardado está activado\nif(flow.get(\"grafico\") == true) \n{\n    return msg;\n} else {\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":180,"wires":[["fa33484608c51467","325e0e053f3d659b"]]},{"id":"929872d68fcd18ad","type":"change","z":"1aae591023126ad8","name":"","rules":[{"t":"set","p":"grafico","pt":"flow","to":"msg.payload","tot":"msg"}],"action":"","property":"","to":"","x":740,"y":240,"wires":[["75a29f06d9dd0573"]]},{"id":"e59d6541694c63d5","type":"function","z":"1aae591023126ad8","name":"function 19","func":"// Verificar si el guardado está activado\nif(flow.get(\"grafico\") == true) \n{\n    return msg;\n} else {\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":300,"wires":[["1be6c6b30bd862aa","9a685cf374baccbc"]]},{"id":"1f6db718d500581a","type":"change","z":"1aae591023126ad8","name":"","rules":[{"t":"set","p":"grafico","pt":"flow","to":"msg.payload","tot":"msg"}],"action":"","property":"","to":"","x":740,"y":360,"wires":[["e59d6541694c63d5"]]},{"id":"f91e19cfe46652a8","type":"link in","z":"1aae591023126ad8","name":"link in 4","links":["5bd5639ea74658f6"],"x":585,"y":240,"wires":[["929872d68fcd18ad"]]},{"id":"10ea7a5cbd824042","type":"link in","z":"1aae591023126ad8","name":"link in 5","links":["5bd5639ea74658f6"],"x":585,"y":360,"wires":[["1f6db718d500581a"]]}]